<!--
  ~ Copyright (c) 2014 Shortcut Media AG - All Rights Reserved.
  ~ Unauthorized copying of this file, via any medium is strictly prohibited
  ~ Proprietary and confidential
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.scm.shortcutreadersdk">

    <application>

    </application>

</manifest>
